body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #222;
    color: white;
}

#keyboard {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.key {
    width: 50px;
    height: 100px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #444;
    color: white;
    transition: 0.2s;
}

.key:active {
    background-color: #888;
}

#effect {
    margin-top: 20px;
    width: 200px;
}
